:root {
    --main--blue: rgba(32, 32, 253, 1);
    --main--green: rgba(0, 189, 53, 1);
    --min--tomato: rgba(231, 51, 1, 1);
    --main--choosen: var(--main--blue);
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.container {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.col {
    background-color: var(--main--choosen);
    border-radius: 5px;
    margin: 5px;
}

img[src=""] {
    display: none;
}

.fluid_icon {
    max-width: 300px;
    z-index: -1;
}

form {
    border-top: 1px solid white;
    width: fit-content;
}

.btn,
input {
    background-color: var(--main--choosen);
    color: inherit;
    font-family: inherit;
    padding: 5px 10px;
    margin: 4px;
    border: none;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: white;
}

.btn:focus,
.btn:hover {
    color: var(--main--choosen);
    background-color: white;
}

input {
    display: inline;
    outline: none;
    height: 15px;
    line-height: 15px;
    width: auto;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 1rem;
}

h6 {
    text-align: center;
    margin: 50px;
}

.box {
    position: relative;
    min-height: 300px;
}

.cityClass {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
}

.weatherSpan {
    position: absolute;
    font-size: 2.8rem;
    bottom: -30px;
    right: 10px;
}

.vertical {
    position: absolute;
    bottom: 30px;
    left: 10px;
    writing-mode: vertical-lr;
}

.btn-right {
    float: right;
}

.show {
    display: inline;
    float: right;
}

.hide {
    display: none;
}

.btn-group {
    float: top;
}