h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.container {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.col {
    padding: 10px 20px;
}

img[src=" "] {
    display: none;
}