:root {
    --main--blue: rgba(32, 32, 253, 1);
    --main--green: rgba(0, 189, 53, 1);
    --min--tomato: rgba(231, 51, 1, 1);
    --main--choosen: var(--min--tomato);
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.container {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.col {
    background-color: var(--main--choosen);
    border-radius: 5px;
    margin: 5px;
}

img[src=""] {
    display: none;
}

img {
    z-index: -1;
}

.fluid_icon {
    max-width: 300px;
}

.small_icon {
    max-width: 50px;
}

form {
    border-top: 1px solid white;
    width: fit-content;
}

.btn,
input {
    background-color: var(--main--choosen);
    color: inherit;
    font-family: inherit;
    padding: 5px 10px;
    margin: 4px;
    border: none;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: white;
}

.btn:focus,
.btn:hover {
    color: var(--main--choosen);
    background-color: white;
}

input {
    display: inline;
    outline: none;
    height: 15px;
    line-height: 15px;
}

h1 {
    font-size: 3rem;
}

h2 {
    text-shadow: 0px 4px 4px rgb(177, 175, 175);
}

h3 {
    font-size: 1rem;
}

h6 {
    text-align: center;
    margin: 50px;
}

.box {
    position: relative;
    min-height: 300px;
}

.cityClass {
    position: absolute;
    top: -10px;
    text-shadow: 10px 10px 0px rgb(177, 175, 175);
}

.cityClass.shadow {
    overflow: hidden;
    word-break: break-all;
}

.weatherSpan {
    position: absolute;
    font-size: 2.8rem;
    bottom: -30px;
    right: 10px;
}

.vertical {
    position: absolute;
    bottom: 30px;
    left: 10px;
    writing-mode: vertical-lr;
}

.cards {
    display: inline;
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.smallest {
    font-size: 10px;
    display: block;
}